@mixin flex() {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@mixin border() {
  border: 1px solid rgb(255, 255, 255);
}

$width: 650px;
$margin: 10px;
$padding: 10px;

body {
  @include flex();
  border: 0;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}
container {
  @include flex();
  justify-content: center;
  width: $width;
  border: 1px solid rgb(44, 44, 44);
}

.Identity,
.Contact,
.Information {
  width: $width;
  padding: $padding;
}

title {
  width: $width;
  font: {
    weight: Bold;
  }
}
.stickers {
  font: {
    weight: Bold;
    size: 110%;
  }
  padding-top: 12px;
}

hr {
  width: 95%;
  color: grey;
}

form {
  display: flex;
  justify-content: left;
  width: 100%;
  padding-top: 10px;
  @include border();
}
.name {
  width: $width / 2 -10px;
}
#first-name {
  width: 70px;
  margin-right: 4px;
}
#last-name {
  width: 120px;
}
input {
  box-shadow: 0px -2px 1px rgb(87, 87, 87);
  border: 1px solid rgb(160, 160, 160);
  width: ($width / 2)- ($margin * 4);
  //   margin-right: 4px;
  &:focus,
  textarea:focus {
    border: 1.5px solid #000;
    box-shadow: 0px -2px 2px rgb(0, 0, 0);
  }
  &:hover,
  textarea:focus {
    border-color: rgb(100, 100, 100);
  }
}
.birth {
  @include flex();
  border: 1px solid rgb(255, 255, 255);
}
.genderscroll {
  width: 270px;
}
.datebirth {
  width: 350px;
}
.Dateinput,
.phonenumber {
  @include flex();
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 130px;
}

.infocontact {
  @include flex();
}
.Adresse {
  @include flex();
  width: 100%;
}

.birthdate {
  width: 25px;
}
.phonenum {
  width: 30px;
}
.half {
  width: ($width/2) - ($margin * 2);
}

.full {
  width: $width - ($margin * 4);
}
textarea {
  width: $width - ($margin * 3);
  height: $width / 5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
}
