body {
    display: flex;
    justify-content: center;
    border: 0;
}
container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 650px;
    margin: 20 20 20 20;
    padding: 20 20 20 20;
    border: 1px solid rgb(44, 44, 44);
}

title {
    // width: 100%;
    font: {
        weight: Bold;
    }
}
.stickers {
    font: {
        weight: Bold;
    }
}
hr {
    width: 95%;
    color: grey;
}

section{
    width: 99%;
}

.infoname {
    display:flex;
    justify-content:left;

    border: 1px solid rgb(23, 156, 67);

}

form {
    display:flex;
    justify-content:left;
    width: 100%;
    border: 1px solid rgb(34, 192, 28);
    
}
.name {
    width: 270px;
}
#first-name {
    width:70px;

}
#last-name {
    width:120px;
}

input {
    box-shadow: 0px -2px 1px rgb(87, 87, 87);
    border: 1px solid rgb(160, 160, 160);
    margin-right: 4px;

}
input:focus, textarea:focus {
    border: 1.5px solid #000

}

input:hover, textarea:focus {
     border-color: rgb(100, 100, 100);
}
.birth {
    display:flex;
    justify-content:space-between;


    border: 1px solid rgb(109, 21, 109);

}
.genderscroll {
    width: 270px;
}
.datebirth {
    width: 350px;
}
.Dateinput {
    display:flex;
    justify-content:space-between;
}
infocontact {
    display:flex;
    flex-wrap: wrap;
}